{% extends 'shared/site.html' %}
{% block site_content %}


    <h1>Details for {{ project_name }} projects</h1>
    {% if not more_details %}
        <h2>This project has no details</h2>
    {% else %}
        <div class="items-container">
            <div class="item">
                {% for details in more_details %}
                    <h2>{{ details.project.title }}</h2>

                    <img class="detail-img" src="{{ details.image.url }}" alt="building-image">
                    <div class="building-info">
                        {{ details.description }}

                    </div>
                    <div class="buttons-container">
                        <a class="button detail" href="{% url 'full_screen' details.id %}">See in full size</a>
                    </div>
                {% endfor %}
            </div>
            <div class="buttons-container">
                <a class="button edit" href="{% url 'details' pk %}">Main project</a>
            </div>
        </div>
    {% endif %}




{% endblock %}