{%  extends 'shared/site.html' %}
{% block site_content %}
    <h1>Create Project</h1>
    <div class="items-container">
        <div class="item">
            <form method="POST" action="{% url 'create'%}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                After you create your project you will be redirected to a page where you can add more details
                <input type="submit" value="Create" >
{#                href="{% url 'more_details' project.id %}#}
            </form>
        </div>
    </div>


{% endblock %}
