{% extends 'shared/site.html' %}
{% block site_content %}


    <h1>Delete Project Details</h1>
    <div class="items-container">
        <div class="item">
            <form method="POST" enctype="multipart/form-data"/>
                {% csrf_token %}
                <label for="imageURL">Image</label>
                <img class="detail-img" src="{{ object.image.url }}" alt="building-image">
                <label for="description">Description</label>
                <textarea name="description" cols="40" rows="10" disabled="" required="" id="id_description">{{ object.description }}</textarea>
                <input type="submit" class="button delete" value="Delete">
                <a class="button delete" href="{% url 'details' object.project.id%}">Exit</a>
            </form>
        </div>
    </div>

{% endblock %}