{% extends 'shared/site.html' %}
{% block site_content %}

{#    <h1>Architect {{ user.last_name }}'s projects</h1>#}
    <h1>All Projects</h1>
    {% if not projects %}
        <h2>This architect has no projects</h2>
    {% else %}
        <div class="items-container">
        {% for project in projects %}

            <div class="item">
                {% include 'shared/image_detail.html' %}
                {% include 'shared/details_button.html' %}
{#                {% include 'shared/edit_del_buttons.html' %}#}

            </div>
        {% endfor %}
    {% endif %}
</div>
    {% if page_obj.has_next %}
        <div class="buttons-container">
            <a class="button edit" href="?page={{ page_obj.next_page_number }}">Next</a>
        </div>
    {% endif %}
    <div class="buttons-container">
        <a class="button edit" disabled="disabled">{{ page_obj.number }}</a>
    </div>
    {% if page_obj.has_previous %}
        <div class="buttons-container">
            <a class="button edit" href="?page={{ page_obj.previous_page_number }}">Prev</a>
        </div>
    {% endif %}
{% endblock %}